PINECONE_API_KEY=replace-with-your-pinecone-api-key
DEFAULT_PINECONE_INDEX=project-atoi-v2
DEFAULT_KNOWLEDGE_DATASET=rxc5667/3wordsdataset_noduplicates
LORA_WEIGHTS_PATH=rohith2812/atoi-lora-finetuned-v1
