PINECONE_API_KEY=replace-with-your-pinecone-api-key
DEFAULT_PINECONE_INDEX=audio-to-image-sample
DEFAULT_KNOWLEDGE_DATASET=Anuragleo67/audio-to-image-sample-knowledge-base
LORA_WEIGHTS_PATH=
PINECONE_CLOUD=aws
PINECONE_REGION=us-east-1
GRADIO_SHARE=false
